*{
    margin: 0px;
    padding: 0px;
}
.box-container{
    width: 50%;
    height: 58px;
    margin-top: 5px;
    background-color: blue;
    color: white; 
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 40px;
    display: flex; 
    align-items: center;
}
.ListText{
    align-items: center;
    justify-content: space-between;
    font-size: 40px; 
    cursor:pointer;
}
.HeadText{
    cursor: auto;
    font-size: 50px;  
    justify-content: center;
}

.MainDiv{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Photo{
    width: 53%;
    margin-top: 10px;
    height:620px;
    border-radius: 40px;
    object-fit:cover;
    cursor:pointer;
}
.Photo:hover{
    box-shadow: 1.6px 1px 1px black;
}
.arrow-left {
    width: 15px;
    height: 15px;
    border-top: 15px solid white;
    border-right: 15px solid white;
    transform: rotate(-135deg);
    cursor: pointer;
}
.arrow-right {
    width: 15px;
    height: 15px;
    border-top: 15px solid white;
    border-right: 15px solid white;
    transform: rotate(45deg);
    cursor: pointer;
}
.paginate{
    display: flex;
    justify-content: center;
    height: 90%;
    width: 5%;
    color: white;
    cursor: pointer;
    font-size: 35px;
}
.paginate:hover{
    color: rgb(255, 255, 0);
}
.underline:hover{
    text-decoration: underline;
}
.arrow-left:hover,.arrow-right:hover{
    border-color: red;
}
.paginate-box{
    width: 53%;
    height: 46px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: blue;
    margin-top: 5px;
    border-radius: 45px;
}
img{
    border-radius: 500px;
}
.hide{
    display: none;
}
.selectPage{
    background-color: red;
    border-radius: 50px;
}
.box-Likes{
    width: 45%;
    height: 50px;
    display: flex;
    justify-content: end;
}
.heart {
    width: 20px; 
    height: 20px; 
    background-color: white;
    margin-top: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.heart::before,
.heart::after {
    content : '';
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}
.heart::before {
    top: -10px;
    left: 0;
}
.heart::after {
    top: 0;
    left: -10px;
}
.heart:hover,.heart:hover:before,.heart:hover:after{
    background-color: red;
}

.redHeart, .redHeart::after, .redHeart::before{ 
    background-color: red;
}
.redHeart:hover, .redHeart:hover:after, .redHeart:hover:before{ 
    background-color: brown;
}
.LikesText{
    margin-left: 20px;
    color: white;
    font-size: 30px; 
}